name: Auto merge PR aprovado

on:
  pull_request_review:
    types: [submitted]

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-merge:
    if: github.event.review.state == 'approved'
    runs-on: ubuntu-latest

    steps:
      - name: Auto merge PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PR_NUMBER=${{ github.event.pull_request.number }}
          REPO=${{ github.repository }}

          echo "Tentando mergear PR #$PR_NUMBER"

          gh pr merge "$PR_NUMBER" \
            --repo "$REPO" \
            --squash \
            --auto
