name: Create Pull Request

on:
  push:
    branches-ignore:
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  create-pull-request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Extrair número da issue a partir do nome do branch
        id: extract_issue
        run: |
          BRANCH_NAME="${GITHUB_REF##*/}"
          ISSUE_NUMBER=$(echo "$BRANCH_NAME" | grep -oP '\d+$' || true)
          echo "branch_name=$BRANCH_NAME" >> $GITHUB_OUTPUT
          echo "issue_number=$ISSUE_NUMBER" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref_name }}
          base: master
          title: "PR Automático do branch ${{ github.ref_name }}"
          body: |
            Este PR foi criado automaticamente a partir do branch `${{ github.ref_name }}`
            
            Closes #${{ steps.extract_issue.outputs.issue_number }}
          update-existing: true
